<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="articles articles-index panel">
        <% @articles.each do |article| %>
          <article>
            <header>
              <h1><%= link_to article.title, article %> </h1>
            </header>
            <section>
              <p >
              <%= link_to generate_abstract_tag(article.text,200), article %>
              </p>
            </section>
            <footer>
              <p class="blog-post-meta"> <%= link_to  article.user.name , home_about_path , {class: ""} %> | <%= article.created_at  %> </p>
            </footer>
          </article>
          <% if @articles.last != article %>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div> <!-- /.col-md-12 -->
  </div><!-- /.row -->

</div>