/*




 */


body {
	/*background-color:#E5E5E5;*/
	/*font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif;*/
}


.editor-toolbar .nav-pills > li.active > a:link, .editor-toolbar .nav-pills > li.active > a:visited, .editor-toolbar .nav-pills > li.active > a:hover {
    background-color: #d0d0d0;
    color: #666;
}
.editor-toolbar .nav-pills > li > a {
	border-radius: 3px 3px 0 0;
	padding: 3px 23px;
	margin-right: 5px;
	background-color: #f0f0f0;
	color: #999;
}

.field .form-control {
	height:auto;
}


.user-label {
	text-align: center;
	overflow: hidden;
	margin-bottom: 20px;
	/*width:100px;*/
	/*overflow:auto;*/
	/*margin: 0 100px 0 100px;*/
	/*padding:20px;*/
}
.articles-index a{
	color:#4A4A4A;
	text-decoration: none;
}
.articles-index a:hover {
	color:#333333;
}
.articles-index article header {
	font-family: "Open Sans", sans-serif;
}
.articles-index article header a {
	font-weight:bold;
}
.articles-index article section {
	/*margin: 0;*/
	/*font-size: 16.2px*/
	line-height: 1.7em;
}
.articles-index article footer,
.articles-index article footer a {
	color:#9EABB3;
}

.articles-index article footer a:hover {
	color:#9EABB3;
	text-decoration: underline;
}
.article-header input.form-control{
	font-size: 36px;
}
