<div class="container">
      <div class="row">

        <div class="blog-main col-sm-8 col-sm-offset-2">
        <% @articles.each do |article| %>
          <article>
            <header>
              <h1><%= article.title %></h1>
            </header>
            <section>
              <p >
              <%= article.text[0..200]+"..."%>
              </p>
            </section>
            <footer>
              <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
            </footer>
          </article>
          <% end %>
        </div>
      </div><!-- /.row -->

    </div>