<div class="jump_toolbar">
    <div class="jump_top btn-move-page" data-type="top">
        <div class="jump_top_in"></div>
		<a href="#">回到顶部</a>
	</div>
    <div class="jump_bottom btn-move-page" data-type="bottom">
        <div class="jump_bottom_in"></div>
		<a href="#" >到达底部</a>
	</div>
</div>