<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>关于小屋</h2>
      <p class="lead"><%= raw markdown @about.text %></p>

      <% if user_signed_in?  %>
      <%= link_to '编辑', edit_abouts_path(@about),{ class: "btn btn-default"} %>  
      <% end %>

      <h2>当前住户</h2>
      <div class="panel-body" >
      <div class="container">
        <div class="row">
        <% @users.each do |user| %>
          <div class="user-label col-md-1">
              <h4>
                <span><%= link_to  user.username ,user_path(user) ,{class: "label label-primary"}%></span>
              </h4>
          </div>
        <% end %>
        </div>
      </div>
      </div> <!-- <div class="panel-body" > -->
    </div>


  </div><!-- /.row -->
</div>