<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>关于小屋</h2>
      <p class="lead">一个懒癌晚期、兼妄想症病患，为实现多年的夙愿，搭建了这个简陋的小屋，表表自己抗争疾病的决心吧。</p>
      <h2>当前住户</h2>
      <div class="panel-body" >
      <div class="container">
        <div class="row">
        <% @users.each do |user| %>
          <div class="user-label col-md-1">
              <h4>
                <span><%= link_to  user.username ,user_path(user) ,{class: "label label-primary"}%></span>
              </h4>
          </div>
        <% end %>
        </div>
      </div>
      </div> <!-- <div class="panel-body" > -->
    </div>


  </div><!-- /.row -->
</div>